.homePage {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.homePage .postContents {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: white;
    box-shadow: 5px 9px 15px -9px;
    margin: 20px;
    padding: 20px;
}